{% extends "structure.html" %}
{% block page_content %}
    <h1>Tmplate file</h1>
    <h2>Good Morning, {{ name.name }}</h2>
    <p>You Age is {{ name.Age }}</p>
    {% if lang %}
<p>The language you are using is {{ language }}</p>
    {% else %}
<p>The framework you are using is {{ language }}</p>
{% endif %}

<ul>
    {% for item in items %}
    <li>{{item.text}}</li>
    {% endfor %}


</ul>
 {% endblock %}